/*
declaration block::

selectors {
    property: value;
}
*/

body {
    background-color: #7fe9f7;
    color: whitesmoke;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
footer {
    text-align: center;
    margin-right: 200px;
}

#meme {
   margin-right: 200px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    
}

h1 {
    text-align: center;
}